#PyYAML
requests
joblib
openmeteo_requests
requests_cache
retry_requests
attrs
#tqdm        # progress bar
joblib
#cloudpickle
#openpyxl
pandas
seaborn
scikit-learn
matplotlib
plotly
#ipykernel
#reportlab
#weasyprint
#markdown
#svglib
#funpy @ git+https://github.com/GeoMop/funpy@main
xlrd >= 2.0.1
pysolar     # just sun positions
pvlib       # complex PV library
